.review-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    width: 80%; /* Set width to 95% */
    margin: 0 auto; /* Center the card horizontally */
  }
  
  .review-card h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .review-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .review-card p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 4px;
  }
  
  .review-card .score {
    font-weight: bold;
    color: #40b8ae;
  }

  .review-card .date {
    position: absolute; /* Add this line */
    top: 8px; /* Add this line */
    right: 8px; /* Add this line */
    font-size: 14px; /* Adjust the size as needed */
    color: #999999; /* Adjust the color as needed */
  }